<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  </head>
  <body>
  <header>
    <nav id="menu">
      <ul>
        <li><a id="login-link">Login</a></li>
        <li><a id="signup-link">Signup</a></li>
      </ul>
    </nav>
  </header>
<div id="black-box">
  <div id="forms">
    <div id="signup-form">
      <div class="form">
              <form action="/signup" method="post">
                <div class="form-input">
                  <input type="text" value="username" name="username" class="form-control">
                  <input type="password" value="password" name="password" class="form-control">
                </div>
                <div class="button-container">
                <input type="submit" value="Sign Up" class="form-button">
                </div>
              </form>
            </div>
  </div>
  <div id="login">
    <div class = "form">
              <form action="/login" method="post">
              <div class="form-input">
                  <input type="text" value="username" name="username" class="form-control">
                  <input type="password" value="password" name="password" class="form-control">
                </div>
                <div class="button-container">
                  <input type="submit" value="Log In" class="form-button">
                  </div>
              </form>
              </div>
  </div>
</div>
<script src='/javascripts/script2.js'></script>
  </body>
</html>
