<!DOCTYPE html>
<html>
  <head>
    <title>Temp Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title%></h1>
    <section id="main">
    <p>Welcome to <%= title%></p>

    <div class="dog">
      <img src="" alt="">
      <p id="petNameInfo"></p>
    </div>
    <p id="petNameInfo"></p>
    <p id="petfinderInfo"></p>


    </div>

    <!-- //testing button -->
    <button id="testButton">Test</button>

    <button class="hot-button">Hot</button>
    <button class="not-hot-button">Meh</button>
    <nav>
    <ul>
      <li><a id="display-liked">Dogs you've liked</a></li>
    </ul>
  </nav>
</section>
<section id="liked">
   <nav><a id="exit">X</a></nav>
   <h2>Dogs you like:</h2><br>
   <div id="liked-dogs"></div>
</section>

  <script src='/javascripts/script.js'></script>
  </body>
</html>
