<!DOCTYPE html>
<html>
  <head>
    <title>Take Me Home</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />


    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li><a id="display-liked">My Pets</a></li>
      </ul>
    </nav>
    <div id="available-pets">
    <section id="main">
    <div id="nextButton"><img src="../images/black-arrow.png" height="20px"></div>



    <div class="pet0">
      <p id="petNameInfo"></p>
      <div id="info-left">
      <p id="petGender"></p>
      <p id="petAge"></p>
      </div>
      <div id="petPhoto"></div>
    </div>
    <div id="below-photo">
    <a id="moreInfo">More Info</a>
    </div>


    <!-- //like pet button -->
    <div id="likeButton"></div>


    </div>


    </div>
    <div id="more-info">
    <div id="backPetsButton"><p>Go Back</p><img src="../images/black-arrow.png" height="20px"></div>
  <div class="pet-info">
    <div id="info-header">
      <p id="pet-name"></p>
      <p id="pet-gender"></p>
      <p id="pet-age"></p>
    </div>
      <div id="pet-photo"></div>
      <div id="pet-description"></div>
      <div id="likeButton2"></div>
  </div>
      <footer>
        <div id="contactButton"><p>Contact Shelter</p><img src="../images/black-arrow.png" height="20px"></div>
      </footer>
    </div>

  <div id="contact">
    <div id="contact-background">
    <table width="950px">
    <tr>
    <td >
      <h2>Meet Me</h2>
    </td>
    <td width="600px">
    <div id="shelter-info">
    <div id="shelter-name"></div>
    <div id="shelter-address"></div>
    <div id="shelter-location"></div>
    <div id="shelter-phone"></div>
    <div id="shelter-email"></div>
    </div>
    </td>
    </tr>
    </table>

       <form action="contact_submit">
         <input id="contact-name" value="Name"></input>
         <input id="contact-phone" value="Phone"></input>
         <input id="contact-email" value="Email"></input>
         <textarea id="contact-message" value="Message"></textarea>
         <div id="contactButton"><p>Submit</p><img src="../images/black-arrow.png" height="20px"></div>
       </form>
    </div>
  </div>

  <div id="liked-pets">
  <a id="backToPetsButton">X</a>
  <table id="table">


  </table>
  </div>
  </section>

<!--The following code was from the code pulled in from Corgi Harmony and is not currently in use inside of the script.js-->
<!-- <section id="liked">
   <nav><a id="exit">X</a></nav>
   <h2>Dogs you like:</h2><br>
   <div id="liked-dogs"></div>
</section> -->

  <script src='/javascripts/script.js'></script>
  </body>
</html>
