<!DOCTYPE html>
<html>
  <head>
    <title>Take Me Home</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />


    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li><a id="display-liked">My Pets</a></li>
      </ul>
    </nav>
    <div id="available-pets">
    <div id="nextButton"><img src="../images/black-arrow.png" height="20px"></div>
    <section id="main">

    <div class="petImages">
    <!-- This div contains the pet image. Please note img src is populated by by the JavaScript dynamically -->
    <div class="pet0">
      <p id="petNameInfo"></p>
      <p id="petGender"></p>
      <p id="petAge"></p>
      <img src="" alt="" align="center">
    </div>
    <a id="moreInfo">More Info</a>
    <div class="pet1">
      <p id="petNameInfo"></p>
      <p id="petGender"></p>
      <p id="petAge"></p>
      <img src="" alt="">
    </div>
    <div class="pet2">
      <p id="petNameInfo"></p>
      <p id="petGender"></p>
      <p id="petAge"></p>
      <img src="" alt="">
    </div>
    </div>



    </div>

    <!-- //like pet button -->
    <div id="likeButton"></div>

    </div>
    <div id="more-info">


    </div>

  </section>

<!--The following code was from the code pulled in from Corgi Harmony and is not currently in use inside of the script.js-->
<!-- <section id="liked">
   <nav><a id="exit">X</a></nav>
   <h2>Dogs you like:</h2><br>
   <div id="liked-dogs"></div>
</section> -->

  <script src='/javascripts/script.js'></script>
  </body>
</html>

