<!DOCTYPE html>
<html>
  <head>
    <title>View Pets Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  </head>
  <body>

    <h1><%= title%></h1>

    <nav>
      <ul>
        <li><a id="display-liked">Pets you've liked</a></li>
      </ul>
       <ul>
        <li><a href='/petProfile' id="petProfile">View Pet Profile</a></li>
      </ul>
    </nav>

    <section id="main">

    <div class="petImages">
    <!-- This div contains the pet image. Please note img src is populated by by the JavaScript dynamically -->
    <div class="pet0">
      <p id="petNameInfo"></p>
      <p id="petGender"></p>
      <p id="petAge"></p>
      <img src="" alt="">
    </div>
    </div>



    </div>

    <!-- //go to next pet button -->
    <button id="nextButton">Next</button>


  </section>

<!--The following code was from the code pulled in from Corgi Harmony and is not currently in use inside of the script.js-->
<!-- <section id="liked">
   <nav><a id="exit">X</a></nav>
   <h2>Dogs you like:</h2><br>
   <div id="liked-dogs"></div>
</section> -->

  <script src='/javascripts/script.js'></script>
  </body>
</html>

