<!DOCTYPE html>
<html>
  <head>
    <title>Take Me Home</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />


    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li><a id="display-liked">My Pets</a></li>
      </ul>
    </nav>
    <div id="available-pets">
    <div id="nextButton"><img src="../images/black-arrow.png" height="20px"></div>
    <section id="main">

    <div class="petImages">
    <!-- This div contains the pet image. Please note img src is populated by by the JavaScript dynamically -->
    <div class="pet0">
      <p id="petNameInfo"></p>
      <p id="petGender"></p>
      <p id="petAge"></p>
      <img src="" alt="" align="center">
    </div>
    <a id="moreInfo">More Info</a>
    <div class="pet1">
      <p id="petNameInfo"></p>
      <p id="petGender"></p>
      <p id="petAge"></p>
      <img src="" alt="">
    </div>
    <div class="pet2">
      <p id="petNameInfo"></p>
      <p id="petGender"></p>
      <p id="petAge"></p>
      <img src="" alt="">
    </div>
    </div>

    <!-- //like pet button -->
    <div id="likeButton"></div>


    </div>


    </div>
    <div id="more-info">
    <div id="backPetsButton"><p>Go Back</p><img src="../images/black-arrow.png" height="20px"></div>
    <div class="pet-info">
    <div id="info-header">
      <p id="pet-name">Chucho</p>
      <p id="pet-gender">F</p>
      <p id="pet-age">M</p>
      </div>
      <img src="https://static.pexels.com/photos/7720/night-animal-dog-pet.jpg" alt="" align="center">
      <div id="pet-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
    </div>
    <div id="contactButton"><p>Contact Shelter</p><img src="../images/black-arrow.png" height="20px"></div>

    <div id="likeButton2"></div>

    </div>

  <div id="contact">
    <div id="contact-background">
      <h2>Meet Me</h2>
       <form action="contact_submit">
         <input id="contact-name" value="Name"></input>
         <input id="contact-phone" value="Phone"></input>
         <input id="contact-email" value="Email"></input>
         <textarea id="contact-message" value="Message"></textarea>
         <div id="contactSubmit"><p>Submit</p><img src="../images/black-arrow.png" height="20px"></div>
       </form>
    </div>
  </div>

  <div id="liked-pets">
  <table>
  <tr>
  <td colspan="6" rowspan="" headers="">
  <div class="liked-pet-info">
    <div class="liked-info">
      <p class="liked-pet-name">Chucho</p>
      <p class="liked-pet-gender">F</p>
      <p class="liked-pet-age">M</p>
      </div>
      <img src="https://static.pexels.com/photos/7720/night-animal-dog-pet.jpg" alt="" align="center">
      <div class="likedpet-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
    </div>
  </td>
  <td colspan="6" rowspan="" headers="">
    <div class="liked-pet-info">
    <div class="liked-info">
      <p class="liked-pet-name">Chucho</p>
      <p class="liked-pet-gender">F</p>
      <p class="liked-pet-age">M</p>
      </div>
      <img src="https://static.pexels.com/photos/7720/night-animal-dog-pet.jpg" alt="" align="center">
      <div class="likedpet-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
    </div>
  </td>
   </tr>
   <tr>
      <td colspan="6" rowspan="" headers="">
  <div class="liked-pet-info">
    <div class="liked-info">
      <p class="liked-pet-name">Chucho</p>
      <p class="liked-pet-gender">F</p>
      <p class="liked-pet-age">M</p>
      </div>
      <img src="https://static.pexels.com/photos/7720/night-animal-dog-pet.jpg" alt="" align="center">
      <div class="likedpet-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
    </div>
  </td>
  <td colspan="6" rowspan="" headers="">
    <div class="liked-pet-info">
    <div class="liked-info">
      <p class="liked-pet-name">Chucho</p>
      <p class="liked-pet-gender">F</p>
      <p class="liked-pet-age">M</p>
      </div>
      <img src="https://static.pexels.com/photos/7720/night-animal-dog-pet.jpg" alt="" align="center">
      <div class="likedpet-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
    </div>
  </td>
   </tr>
  </table>
  </div>
  </section>

<!--The following code was from the code pulled in from Corgi Harmony and is not currently in use inside of the script.js-->
<!-- <section id="liked">
   <nav><a id="exit">X</a></nav>
   <h2>Dogs you like:</h2><br>
   <div id="liked-dogs"></div>
</section> -->

  <script src='/javascripts/script.js'></script>
  </body>
</html>

