<!DOCTYPE html>
<html>
  <head>
    <title>Take Me Home</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />


    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li><a id="display-liked" action='/logout'>My Pets</a></li>
        |
        <li><a id="filters">Filters</a></li>
        |
        <li><a id="logout">Logout</a></li>
      </ul>
    </nav>
    <div id="available-pets">
    <section id="main">




    <div class="pet0">
      <div id="nextButton"><img src="../images/black-arrow.png" height="20px"></div>
      <p id="petNameInfo"></p>
      <div id="info-left">
      <p id="petGender"></p>
      <p id="petAge"></p>
      </div>
      <div id="petPhoto"></div>
    </div>
    <div id="below-photo">
    <a id="moreInfo">More Info</a>
    </div>


    <!-- //like pet button -->
    <div id="likeButton"><img src="../images/heartbutton.png" height="60px"></div>



    </div>


    </div>
    <div id="more-info">
    <div id="backPetsButton"><p>Go Back</p><img src="../images/black-arrow.png" height="20px"></div>
  <div class="pet-info">
    <div id="info-header">
      <p id="pet-name"></p>
      <p id="pet-gender"></p>
      <p id="pet-age"></p>
    </div>
      <div id="pet-photo"></div>
      <div id="pet-description"></div>
      <div id="likeButton2"><img src="../images/heartbutton.png" height="60px"></div>
  </div>
      <footer>
        <div id="contactButton"><p id='contactEmail'></p><img src="../images/black-arrow.png" height="20px"></div>
      </footer>
    </div>

  <div id="contact">
    <div id="contact-background">
      <h2>Meet Me</h2>
      <div id="shelter-info">
        <div id="shelter-name"></div>
        <div id="shelter-address"></div>
        <div id="shelter-location"></div>
        <div id="shelter-phone"></div>
        <div id="shelter-email"></div>

      </div>
    </div>
  </div>

  <div id="liked-pets">
    <a id="backToPetsButton">X</a>
    <table id="table">


    </table>
  </div>
  </section>

<!--The following code was from the code pulled in from Corgi Harmony and is not currently in use inside of the script.js-->
<!-- <section id="liked">
   <nav><a id="exit">X</a></nav>
   <h2>Dogs you like:</h2><br>
   <div id="liked-dogs"></div>
</section> -->

  <script src='/javascripts/script.js'></script>
  </body>
</html>
