@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=News+Cycle);

body {
  font-family: 'News Cycle', sans-serif;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  color:white;
  text-transform: uppercase;
}
#main{
  width:28%;
  margin:auto;
}
#petNameInfo {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: auto;
  display: inline;
}
#pet-name {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  display: inline;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 2%;
}
#petGender {
  display: inline;
}
#pet-gender {
  display: inline;
  text-align: right;
}
#display-liked {
  display: inline;
  text-align: right;
}
#petAge {
  display: inline;
}
#pet-age {
  display: inline;
}
#pet-description {
  background-color: #FFF87F;
  height: auto;
  width:580px;
  display: inline;
  position: absolute;
  margin-top: 1.8%;
  padding: 20px;
}
#nextButton {
margin-left: 90%;
}
#nextButton:hover {
opacity:.6;
}
#moreInfo{
  position: relative;
  display: inline;
  font-size: 18px;
  text-decoration: underline;
  margin-left: 78%;
}
#moreInfo:hover{
  background: #FFF87F;
}
#below-photo{
  margin-top: -5%;
}
#menu{
  padding-bottom: 10px;
  margin-right: 5%;
  margin-top: 2%;
}
#menu li{
  list-style: none;
  text-align: right;
}
#menu li:hover{
  list-style: none;
  text-align: right;
  text-decoration: underline;
}
#petPhoto{
  display: block;
  padding: 20px;
}
#petPhoto img{
  display: block;
  width: 300px;

}
.pet0{
  margin:auto;
}

#container-description{
  display: inline;

}
#info-header {
  display: block;
}
#likeButton {
  margin-left: 46%;
  margin-top: 2%;
}
#likeButton:hover {
  opacity:.6;
}
#likeButton2 {
  margin-left: 8%;
  margin-top: 1%;
}
#likeButton2:hover {
  opacity:.6;
}
.petImages {
  margin-left: 35%;
}
.pet-info{
margin-left: 9%;
}
#available-pets {
display: visible;
}
#contactButton {
  position: relative;
  margin-left: 76%;
}
#contactButton p{
  margin-left: -50px;
  margin-top: -40px;
  padding-right: 20px;
  display: inline;
}
#contactButton:hover{
 opacity:.6;
}

#backPetsButton {
  display: inline-block;
  margin-left: 75%;
  margin-top: -15%;
}
#backPetsButton p{
  margin-top: -20px;
  display: inline;
  padding-right: 20px;
}
#more-info{
  display: none;
  pa

}
#contact{
  display: none;
  min-height: 80%;
}
#contact-background{
  background-color: #C2F2EF;
  width: 85%;
  height: 80%;
  margin-left: 5%;
  padding: 30px;
}
#contact-name{
  background-color: white;
  opacity: .6;
  padding: 10px;
  border-style: none;
  width: 450px;
  height: 15px;
}
#contact-phone{
  background-color: white;
  opacity: .6;
  padding: 10px;
  border-style: none;
  width: 450px;
  height: 15px;
}
#contact-email{
  background-color: white;
  opacity: .6;
  padding: 10px;
  border-style: none;
  width: 925px;
  height: 15px;
  margin-top: 2%;
}
#contact-message{
  background-color: white;
  opacity: .6;
  border-style: none;
  width: 939px;
  height: 200px;
  margin-top: 2%;
  margin-bottom: 2%;
}
#shelter-info{
  text-align: right;
  }
#liked-pets{
  display: none;
  padding: 20px;
}
#liked-pets td{
    padding: 40px;
    width: 550px;
    vertical-align: text-top;
}
.liked-pet-name {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  display: inline;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 2%;
}
.liked-pet-gender {
  display: inline;
}
.liked-pet-age {
  display: inline;
}
.liked-pet-description {
  background-color: #FFF87F;
  display: inline;
  position: absolute;
  margin-top: 1.5%;
  text-align: justify;
  max-width: 600px;
}
.liked-pet-info img {
  display: inline;
  height: 200px;
  padding: 20px 20px 10px 20px;
  min-width:200px;
  margin-left: 10%;
}
#pet-photo img{
  max-width: 200px;
  padding: 20px 20px 10px 20px;
}
#pet-photo {
  display: inline;
}
footer {
  padding-top: 20px;
  height: 100px;
}
